h1 {
    color:crimson;
    font-size: 75px;
    background-image:url("design1_image1.jpg");
    background-size: 1400px;
    background-repeat: no-repeat;
    height: 200px;
    width:100%; 
}

.pageTitle {
    color: white;
    font-size: 30px; 
    background-color: crimson;
    margin-top: -50px;
    width: 100%;
    text-align: center;
    position: absolute;
    right: -245px;
            }

body{
    background-color:antiquewhite;
    margin-top: -70px
     }

p {
    float: none
    font-size: 15px;
    color: purple;
    margin: 0 20%;
     
              }

.bowl {
    position: absolute;
    right: 25px;
    top: 0px;
    width: 10%;  
    margin-top:230px 
    }
.monthTitle {
    font-style: italic;
    margin-top: 2%
    }
.subtitle{
    margin: 0 22%;
    margin-top: 2%
}

.HOME {
    position: absolute;
    left: 10px;
    top: 0px;
    float: right;
    width: 10%;  
    margin-top:250px 
   
    
       }


.CONTACT {
   position: absolute;
    left: 10px;
    top: 0px;
    float: right;
    width: 10%;  
    margin-top:450px
        
}
.ABOUT {
   position: absolute;
    left: 10px;
    top: 0px;
    float: right;
    width: 10%;  
    margin-top:350px 
   
}

.MISION {
    color: red;
    margin: 0 20%;
    margin-top: 5%;
}

.support {
     color: purple;
    margin: 0 20%;
    margin-top: -2%;
}
  
h2 {
    color: red;
    margin: 0 18%;
    margin-top: 2%;
}
.information {
    color: purple;
    margin: 0 4%;
    margin-top: 2%;
}
.emailto {
    color: purple;
    margin: 0 4%;
    margin-top: 50px;
}
.pageTitle3 {
    color: white;
    font-size: 30px; 
    background-color: crimson;
    margin-top: -50px;
    width: 100%;
    text-align: center;
    position: absolute;
    right: -240px;
            }

.children3 {
    position: absolute;
    left: 1px;
    top: 0px;
       width: 100%;
    height: 350px;
    margin-top: 80px;
}
